#topheading {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color: white;
}

#firstlink {
    text-align: center;
    color: aquamarine;
    font-size: 16px;
}
